@{
    ViewData["Title"] = "Contact";
}
<h2>FV Investments</h2>
<h3>We add value to your Future</h3>

<p>
    1789 Wall St<br />
    Traverse City, MI 49694<br />
</p>

<p>
    <strong>Phone</strong> 231-929-9261 <br />
    <strong>The Money Guys</strong> <a href="mailto:MoneyGuys@FutureValue.com">MoneyGuys@FutureValue.com</a>
</p>